body {
  display: flex;

  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;

  background-color: #aaacff;
  background-image: url("background.jpg");
  background-repeat: no-repeat;

  background-size: cover;
  background-position: center;

  margin: 0;

  transition: all 500ms;
}

@media (max-width: 700px) {
  body {
    background-position: right top;
    transition: all 500ms;
  }
}

.grid {
  display: grid;
  max-width: 700px;

  padding: 12px;
  margin: auto;

  background-color: rgba(255, 255, 255, 0.7);
  border: 0px solid rgba(255, 255, 255, 0.7);
  border-radius: 50px;
}

h1 {
  text-align: center;
}

p {
  text-align: justify;
}

.guessSubmit,
.newGameButton {
  font-size: 18px;
  background-color: rgb(184, 166, 146);
  border-radius: 10px;
}

.newGameButton {
  visibility: hidden;
  display: block;
  margin-bottom: 20px;
}

.wrongOrCorrect {
  visibility: hidden;
  background-color: red;
  color: aliceblue;
  font-weight: bolder;
  font-size: 22px;
  padding: 10px;
  text-align: center;
}

.guessField {
  height: 18px;
  width: 50px;
}

.guessField:invalid {
  border: 2px solid red;
  outline: none;
}

.guessField:valid {
  border: 2px solid rgb(150, 90, 0);
  outline: none;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.guesses,
.lowOrHigh {
  display: none;
}

.show {
  display: block;
  visibility: visible;
}
